[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cpu/torch_stable.html"
verify_ssl = false

[requires]
python_version = '3.9'

[packages]
falcon="*"
attrs="*"
waitress = "*"
gdown = "*"
opencv-python="*"
torch = {index = "pytorch",version = "==1.9.0"}
torchvision = {index = "pytorch",version = "==0.10.0"}
mmcv-full = {ref = "b4bfeb53c57f2c843cb5015f9c0a2d1689dba9c4", git = "https://github.com/open-mmlab/mmcv.git"}
mmdet = "*"
mmocr = {ref= "3d2a91955efe134a0a33ca00d0d45632813b6b46", git = "https://github.com/yCobanoglu/mmocr.git"}


[dev-packages]
flake8 = "*"
pytest="*"
pytest-cov = "*"
black="*"
pyre-check="*"
ptw = "*"

[scripts]
test = "pytest --cov=ebl_ai --cov-report term --cov-report xml"
test-watch = "ptw --runner \"pytest --cov=ebl_ai --cov-report term --cov-report xml\""
start = "waitress-serve --port=8001 --call ebl_ai.app:get_app"
lint = "flake8 ebl_ai"
format  = "black ebl_ai"
type = "pyre check"
