--find-links --index-url https://download.pytorch.org/whl/cpu
torch==2.0.1
torchvision==0.15.2
falcon
attrs
waitress
gdown
opencv-python
mmengine
mmdet==3.0.0rc6
mmocr
mmcv==2.0.1
flake8 
pytest
pytest-cov 
black
pyre-check
ptw 